/**
 * Show toolbar icons for small screens only
 */

@media only screen and (min-width: 576px)
{
  .re-button:not(.re-bold):not(.re-italic):before {
    content: attr(aria-label);
  }

  .re-button-icon {
    display: none;
  }
}

/**
 * Quotes
 */

.redactor-box q,
.redactor-dropdown-quote {
  quotes: '“' '”' '‘' '’';
}

/**
 * Toolbar icons
 */

.re-button-icon {
  width: 15px;
  height: 15px;
  margin: -1px;
  fill: #29323d;
  vertical-align: top;
}

.redactor-act .re-button-icon {
  fill: #ffffff;
}

.re-deleted {
  text-decoration: none !important;
}

/**
 * Toolbar dropdown options
 */

.redactor-dropdown li:hover a span {
  color: #29323d;
}

.redactor-dropdown-blockquote span {
	color: #777 !important;
}

.redactor-dropdown-superscript span,
.redactor-dropdown-subscript span,
.redactor-dropdown-smallprint span {
	font-size: 0.75em;
}

.redactor-dropdown-quote span,
.redactor-dropdown-quote span:before,
.redactor-dropdown-quote span:after,
.redactor-dropdown-sourcecitation span {
  position: relative;
	font-style: italic;
  color: #777 !important;
}

.redactor-dropdown-quote span:before,
.redactor-dropdown-quote span:after {
  position: absolute;
  top: 0;
}

.redactor-dropdown-quote span:before {
	content: open-quote;
  left: -0.1em;
}

.redactor-dropdown-quote span:after {
	content: close-quote;
  right: -0.1em;
}

.redactor-dropdown-keyboardinput span,
.redactor-dropdown-code span,
.redactor-dropdown-htmltwig span,
.redactor-dropdown-css span,
.redactor-dropdown-js span,
.redactor-dropdown-php span {
  font-family: Menlo, Monaco, Consolas, monospace;
}

.redactor-dropdown-keyboardinput span {
	background-color: #aaa;
  color: #fff !important;
}

.redactor-dropdown-code span,
.redactor-dropdown-htmltwig span,
.redactor-dropdown-css span,
.redactor-dropdown-js span,
.redactor-dropdown-php span {
	background-color: #ddd;
}

.redactor-dropdown-deleted span {
  text-decoration: line-through !important;
}

.redactor-dropdown-inserted span {
  padding: 0 !important;
  margin-left: 4px !important;
  border-radius: 0 !important;
  border-bottom: 1px dotted #777 !important;
}

.redactor-dropdown-marked span {
	background-color: #ff8;
}

.redactor-dropdown-preventlinebreak span {
  position: relative;
}

.redactor-dropdown-preventlinebreak span:before,
.redactor-dropdown-preventlinebreak span:after {
  position: absolute;
  font-size: 1.25em;
	color: #bbb;
}

.redactor-dropdown-preventlinebreak span:before {
	content: '[';
  left: -0.1em;
}

.redactor-dropdown-preventlinebreak span:after {
	content: ']';
  right: -0.1em;
}

/**
 * Editor
 */

.redactor-editor sup,
.redactor-editor sub {
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
	font-size: 0.75em;
}

.redactor-editor sub {
	top: 0.3em;
}

.redactor-editor q,
.redactor-editor q:before,
.redactor-editor q:after,
.redactor-editor cite {
	font-style: italic;
  color: #777;
}

.redactor-editor q:before {
	content: open-quote;
}

.redactor-editor q:after {
	content: close-quote;
}

.redactor-editor mark,
.redactor-editor code,
.redactor-editor samp,
.redactor-editor kbd {
  display: inline !important;
  padding: 0 0.25em !important;
  border-radius: 0 !important;
}

.redactor-editor mark {
  padding: 0.1em 0 !important;
}

.redactor-editor kbd {
	background-color: #aaa !important;
  color: #fff;
}

.redactor-editor code {
	background-color: #ddd !important;
}

.redactor-editor small {
	font-size: 0.75em;
}

.redactor-editor ins {
	border-bottom: 1px dotted #777;
  text-decoration: none !important;
}

.redactor-editor mark {
	background-color: #ff8 !important;
}

.redactor-editor nobr {
  white-space: nowrap;
}

.redactor-editor nobr:before,
.redactor-editor nobr:after {
	color: #bbb;
}

.redactor-editor nobr:before {
	content: '[';
}

.redactor-editor nobr:after {
	content: ']';
}

.redactor-editor .align-left {
  text-align: left;
}

.redactor-editor .align-center {
  text-align: center;
}

.redactor-editor .align-right {
  text-align: right;
}

.redactor-editor .align-justify {
  text-align: justify;
}
