/**
 * Custom Redactor editor stylesheet
 *
 * Create a folder craft/config/cp/, add this CSS file to it and the styles will be included
 * with every CP page request automatically.
 */

/**
 * Base editor overrides
 */

.redactor-styles,
.redactor-toolbar,
.redactor-dropdown {
  font-family: HelveticaNeue, sans-serif !important;
}

.redactor-styles {
  font-size: 13px !important;
  line-height: 18px !important;
  padding: 10px 7px 15px 7px !important;
}

.redactor-styles h1,
.redactor-styles h2,
.redactor-styles h3,
.redactor-styles h4,
.redactor-styles h5,
.redactor-styles h6,
.redactor-dropdown-h1,
.redactor-dropdown-h2,
.redactor-dropdown-h3,
.redactor-dropdown-h4,
.redactor-dropdown-h5,
.redactor-dropdown-h6 {
  font-family: HelveticaNeue, sans-serif !important;
  font-weight: normal !important;
}

.redactor-toolbar li a {
  font-size: 13px !important;
  height: 26px !important;
  padding: 7px 12px 3px !important;
}

.redactor-toolbar li a.re-button-icon {
  font-size: 15px !important;
  padding: 6px 12px 4px !important;
}

.redactor-styles mark,
.redactor-styles code,
.redactor-styles samp,
.redactor-styles kbd {
  display: inline !important;
  padding: 0 0.25em !important;
  border-radius: 3px !important;
}

/**
 * Base button and dropdown overrides
 */

 .redactor-act:not(.dropact) {
   background-color: transparent !important;
   color: #29323d !important;
 }

 .redactor-act:not(.dropact):hover {
   background-color: #d5d8dd !important;
   color: #29323d !important;
 }

.redactor-dropdown li:hover a span,
.redactor-dropdown li:hover a span:before,
.redactor-dropdown li:hover a span:after {
  color: #29323d !important;
}

/**
 * Deleted, inserted, marked
 */

.redactor-styles ins {
  border-bottom: 1px dotted #777;
  text-decoration: none !important;
}

.redactor-styles mark {
  background-color: #ff8 !important;
  padding: 0.1em 0 !important;
}

.redactor-toolbar li .re-del {
    text-decoration: none !important;
}

.redactor-dropdown-del span {
  text-decoration: line-through !important;
}

.redactor-dropdown-ins span {
  padding: 0 !important;
  margin-left: 4px !important;
  border-radius: 0 !important;
  border-bottom: 1px dotted #777 !important;
}

.redactor-dropdown-mark span {
  background-color: #ff8;
}

/**
 * Quote, source citation
 */

.redactor-styles q,
.redactor-dropdown-q {
  quotes: '«\A0' '\A0»';  /* FR */
  quotes: '„' '“' '‚' '‘'; /* DE */
  quotes: '“' '”' '‘' '’'; /* EN_US */
}

.redactor-styles q,
.redactor-styles q:before,
.redactor-styles q:after,
.redactor-styles cite {
  font-style: italic;
  color: #777;
}

.redactor-styles q:before {
  content: open-quote;
}

.redactor-styles q:after {
  content: close-quote;
}

.redactor-dropdown-q span,
.redactor-dropdown-q span:before,
.redactor-dropdown-q span:after,
.redactor-dropdown-cite span {
  position: relative;
  font-style: italic;
  color: #777;
}

.redactor-dropdown-q span:before,
.redactor-dropdown-q span:after {
  position: absolute;
  top: 0;
}

.redactor-dropdown-q span:before {
  content: open-quote;
  left: -0.1em;
}

.redactor-dropdown-q span:after {
  content: close-quote;
  right: -0.1em;
}

/**
 * Superscript, subscript, small print
 */

.redactor-styles sup,
.redactor-styles sub,
.redactor-styles small {
  font-size: 0.75em;
}

.redactor-styles sup,
.redactor-styles sub {
  position: relative;
  vertical-align: baseline;
}

.redactor-styles sup {
  top: -0.5em;
}

.redactor-styles sub {
  top: 0.3em;
}

.redactor-dropdown-sup span,
.redactor-dropdown-sub span,
.redactor-dropdown-small span {
  font-size: 0.75em;
}

/**
 * Code, Keyboard input
 */

.redactor-styles code,
.redactor-styles samp,
.redactor-styles kbd {
  font-family: Menlo, Monaco, Consolas, monospace;
}

.redactor-styles code {
  background-color: #ddd !important;
}

.redactor-styles kbd {
  background-color: #aaa !important;
  color: #fff;
}

.redactor-dropdown-code span,
.redactor-dropdown-kbd span {
  font-family: Menlo, Monaco, Consolas, monospace;
}

.redactor-dropdown-code span {
  background-color: #ddd;
}

.redactor-dropdown-kbd span {
  background-color: #aaa;
  color: #fff !important;
}

.redactor-dropdown li:hover .redactor-dropdown-kbd span {
  color: #fff !important;
}

/**
 * Prevent line-break
 */

.redactor-styles .nobr {
  white-space: nowrap;
}

.redactor-styles .nobr:before,
.redactor-styles .nobr:after {
  color: #bbb;
}

.redactor-styles .nobr:before {
  content: '[';
}

.redactor-styles .nobr:after {
  content: ']';
}

.redactor-dropdown-nobr span {
  position: relative;
}

/**
 * Alignment
 */

.redactor-styles .align-left {
  text-align: left;
}

.redactor-styles .align-center {
  text-align: center;
}

.redactor-styles .align-right {
  text-align: right;
}

.redactor-styles .align-justify {
  text-align: justify;
}

/**
 * Colors
 */

.redactor-styles .color-blue,
.redactor-dropdown-color-blue span {
  color: #0000FF;
}

.redactor-styles .color-green,
.redactor-dropdown-color-green span {
  color: #3CB371;
}
